.content {
  padding-top: 55px;
}

.slide {
    border: 2px solid black;
    margin:20px;
    text-align: center;
}

#appTitle{
margin-bottom:50px;
}

/*Location Box*/
#locationBox{
	margin-bottom:100px;
}

#locationBox #locationText{
	display: inline;
	margin-right:10px;
}

#locationBox .wrongLocBtn{
	background:none;
	text-decoration: underline;
}


/*Picture Selector*/
.selectorImage {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.selectorImage:hover {
    border: 1px solid red;
}

.mainPicture {
    width: 400px;
    height: 400px;
    margin: 0 auto
}

