@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-moz-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-o-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-ms-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}


.content {
}


.slide{
    border: 2px solid black;
    margin:20px;
    text-align: center;
    position: absolute;
    display: inline-block;

    height: 500px;
    width: 1200px;

	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

#DesignSlide {
   position: absolute;
  -webkit-backface-visibility: hidden ;
  position: absolute;
  background-color: white;
  z-index: 2;
}

#EditSlide {
  -webkit-backface-visibility: hidden ;
  position: absolute;
}

.flipSlidesContainer {
    -webkit-perspective: 800;
}

.flipSlides {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1.0s linear;
}

/*.slide .flipped {*/
  /*-webkit-transform: rotatex(-180deg);*/
/*}*/

/*.transit{
	width: 98%;
	min-height: 70%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
}*/

.slide:target{
border-color:red;
}

#appTitle{
margin-bottom:50px;
}

/*Location Box*/
#locationBox{
	margin-bottom:100px;
}

#locationBox #locationText{
	display: inline;
	margin-right:10px;
}

#locationBox .linkBtn{
	background:none;
	text-decoration: underline;
	border:none;
	font-size:12px;
	color:blue;
}

/*DesignSlide*/
.selectorImage {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.selectorImage:hover {
    border: 1px solid red;
}

.mainPicture {
    width: 400px;
    height: 400px;
    margin: 0px auto;
}



/*EditSlide*/

.main{
	display:inline-block;
	margin-right:20px;
	height:450px;
}

.stampSelector{


}

.address{

}

.side{
	display:inline-block;
	padding:10px;
	box-sizing: border-box;
}

.red{
	background-color: red;
}

.blockTA{
	display:block;
	margin-bottom:10px;
}

.ContentTA{
	width:100px;
	height:100px;
}


#selectedImg{
	width:150px;
	height:150px;
}

/*All Pages*/


/*{
	box-sizing: border-box;
}*/

.buttons{
	margin-bottom:50px;
}

.navButtons{
    position: absolute;
    margin-left:1100px;
    margin-top:530px;
}

.btnLeft{
	margin-right:500px;
}

.btnRight{
	margin-left:500px;
}

#btnChoose{
	margin-left:1000px;
}

